@font-face{
    font-family: "Inter";
    font-style: bold;
    font-weight: 700;
src: url("fonts/inter-700.woff2") format("woff2");
font-display: swap;
}
@font-face{
    font-family: "Inter";
    font-style: regular;
    font-weight: 400;
src: url("fonts/inter-400.woff2") format("woff2");
font-display: swap;
}
@font-face{
    font-family: "Inter";
    font-weight: 900;
    font-style: normal;
src: url("fonts/inter-900.woff2") format("woff2");
font-display: swap;
}
html{
  height: 100%;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #2D3440;;
    background-color: #FEAFC3;
}
.main__container{
    width: 1170px;
    margin: 0 auto;
    padding: 0;
    }
    .main__container h3{
        font-weight: 900;
        font-size: 32px;
        line-height: 46px;
        text-align: center;
    }
    .main__container h4{
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow:hidden;
}
/*-----------------------header---------------------------*/


.header{
    display: flex;
    justify-content: space-between;
   
    
}
.header__info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 575px;
    margin: 0;
    padding: 0;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    min-width: 115px;
    min-height: 32px;
   

}
.menu-search{
    display: flex;
   justify-content: flex-end;
   flex-wrap: wrap;
   min-width: 431px;
   margin: 36px 0;
   list-style: none;
}
.menu-item{
    padding: 8px 16px;
}
.phone{ 
  font-weight: 700;
  font-size: 16px;  
  line-height: 20px;
}




    /*-------------------------------------слайдер----------------------------*/
.top__slider-btn,
.gifts-btn{
    text-align: center;
    background-color: #FCFCFC;
    border: 4px solid rgba(252, 252, 252, 0.4);
    border-radius: 26px;
    padding: 12px 32px;
    font-weight: 700;
    font-size: 16px;
}

.menu-link{
    font-family: Inter, sans-serif;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #2D3440;
    text-decoration: none;
    color: inherit;
    cursor: pointer;

}
.phone{
    margin: 42px auto;
    color:inherit;
    text-decoration: none;
}
.social-links{
    display: flex;
    justify-content:space-between;
    width: 104px;
    list-style: none;
}


/*----------------малинка даром----------------------------------*/
   

.gifts-title{
    
    margin: 0 auto;
    width: 434px;
    margin-top: 80px;
    margin-bottom: 55px;
}
.gifts-list{
    display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
}
.gifts-list-item{
width: 570px;
border-radius: 16px;
background-color: #FF7799;
list-style: none;

}
.gifts-list h4,
.gifts-text{
    margin-left: 36px;
    max-width: 328px;
}
.gifts-btn{
   margin: 36px;
}

/*??????????????????????????Роман, как правильно  впихнуть картинки в эти розовые поля в правильном положении...??????*/


/*----------bestsellers------------------------------------------*/


.bestsellers__title{
    display: block;
    margin: 0 auto;
    width: 526px;
    margin-top: 80px;
    margin-bottom: 112px; 
}

.bestsellers__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    
}
.bestsellers__list-item{
background-color: #FCFCFC;
border-radius: 16px;
width: 270px;  

}
.bestsellers__list-item img{
    border-radius: 50%;
    margin-top: -56px;
}
.bestsellers__list h4{
    margin-top: 8px;
    margin-bottom: 16px;
}
.bestsellers__info{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
   margin: 0 40px 16px;
}

.bestsellers__price{
  margin: 20px 75px 28px 40px;
}

.busket{
    border-radius: 60px;
  margin: 16px 20px 24px 0;
}
/*Роман тут два последних price и busket не  встают на  одну  строчку если я задаю марджины из макета(((*.



/*-----------------вафельная рамка------------------*/


.info__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    width: 1122px;
    margin-top: 80px;
    padding: 56px 40px;
    border-radius: 16px;

/*пока не поняла как ее делать РАМКУ ВАФельную*/
    border: 24px solid #fff;
    -moz-border-image: url("../images/background/slice-wafer.png"); 30 repeat repeat ;
    -webkit-border-image: url("../images/background/slice-wafer.png"); 30 repeat repeat; 
    -o-border-image: url("../images/background/slice-wafer.png"); 30 repeat repeat;
    border-image: url("../images/background/slice-wafer.png"); 30 repeat repeat;
   

}
.info__title{
    text-align: center;
    margin-bottom: 56px;


}
.info__text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 505px;
}

.info-logo{
    padding-right:16px;
}
/*-------------10 способов  подписки--------------------------*/

.subscription{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;

}
.subscription__serving p{
  font-weight: 400;
  font-size: 16px; 
  line-height: 20px; 
}
.subscription__serving{
background-image: url("../images/background/bgr-subsription-serving.jpg");
background-repeat: no-repeat;
width: 570px;
border-radius: 16px;
padding: 32px 235px 67px 32px;
}
.subscription__serving p{
font-weight: 400;
font-size: 16px; 
line-height: 20px; 
}
.subscription__serving-link{
min-width: 303px;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-decoration: none;
color: inherit;

}
.subscription__to-mailing{
    width: 570px;
    padding: 26px;
    background-image: url("../images/background/slice-mail.png");
border-radius: 16px;
}
.button{
    text-align: center;
    background-color: #FF2F64;
    color: #fff;
    border: 4px solid rgba(255, 47, 100, 0.3);
    border-radius: 26px;
    padding: 12px 32px;
    font-weight: 700;
    font-size: 16px;
}

.subscription__btn{
   
    margin-top: 42px;
}
/*-----------------доставка--------------------*/

  .delivery {
      display: flex;
      justify-content: space-between;
    background-image: url("../images/background/bgr-delivery.jpg");
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-top: 80px;
    
   

}
.delivery__inner{
    width: 371px;
    margin-left: 100px;
    margin-bottom: 163px;
}
.delivery-title{
    text-align:right;
margin-top: 165px;
}
.delivery p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.feedback-form{

   width: 500px;

   background-color: #FCFCFC;
   border-radius: 16px;
   margin: 64px;
   padding: 40px 40px 42px;
}

.delivery-btn{

    margin-top: 42px; 
}

/*--------------------контакты-----------------------*/


.contacts{

 margin-top: 80px;
padding: 64px;
background-image: url("../images/background/bgr-contacts.jpg");
background-repeat: no-repeat;
border-radius: 16px;

}
.contacts__adress{

width: 343px;
background-color: #FCFCFC;
border-radius: 16px;
padding: 40px;
font-weight: 400;
font-size: 16px;
line-height: 22px;


}
.top__slider-title{
    font-size: 36px;
    line-height: 46px;
    font-weight: 900;
}

.feedback-btn{
    margin: 0;
text-decoration: none;
}
.contacts__phone{
    color:inherit;
}

/*---------------------------------footer------------------*/
.footer{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    padding: 57px 0 48px;
}
.social-links{
    display: flex;
    justify-content:space-between;
    width: 104px;
    padding: 0;
    margin: 0;
    list-style: none;}

.footer__menu {
    display: flex;
    justify-content: space-between;       
    width: 356px; 
   margin: 48px 407px 57px;
}
.footer-link{  
font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  list-style: none;

}
.footer-link a{
text-decoration: none;
} 

.footer__copyright{
    display: flex;
    flex-direction: column;
}
.academy-logo{
    width: 93px;
    
}
.academy-link{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: inherit;
    padding: 15px 15px 0 0 ;
}

/*-------------!!!Catalog---------------------------------------------------------------------------------*/

.breadcrumbs{
    display: flex;
    justify-content: start;
    margin: 92px 780px 16px 0;

}
.breadcrumbs{
    display: flex;
flex-direction: row;
    justify-content:flex-start;
    width: 1170px;
    list-style: none;
}
.breadcrumbs-item{
    padding: 0 28px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
.breadcrumbs a{
    text-decoration: none;
    color: inherit;
}

.catalog{
    display: flex;
   justify-content: sb;
   width: 1170px;
    margin 0;
    padding: 0;
}
.catalog-title{
     font-weight: 900;
     font-size: 32px;
     line-height: 46px;
     margin-bottom: 40px;
}
.catalog__filter{
    display: flex;
    justify-content: start;
    margin-bottom: 44px;
}
.cards__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   list-style: none;
}

.cards__list-item{
    display: flexbox;

    width: 270px;
}

